@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

:root {
    --shadow-color: rgb(0, 0, 0);
}



@layer utilities {
    .shadow-custom {
        box-shadow: 3px 3px rgb(255, 255, 255), 5px 5px 0px 2px rgb(0, 0, 0);
    }
}