@import url('https://fonts.cdnfonts.com/css/permanent-marker');
@import url('https://fonts.cdnfonts.com/css/dm-sans');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
}

:root {
    --shadow-color: rgb(0, 0, 0);
    background-color: #090711;
}

.header {
    font-family: 'Permanent Marker', sans-serif;
}


@layer utilities {
    .shadow-custom {
        box-shadow: 3px 3px rgb(255, 255, 255), 5px 5px 0px 2px rgb(0, 0, 0);
    }
}